#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Name={{ .Name }}
Exec=/usr/local/bin/{{ .ID }} %u
Icon=/usr/share/{{ .ID }}/statics/icon.png
Version={{ .Version }}
StartupWMClass={{ .ID }}
